.inner_comment-wrapper {
  margin-left: 40px;
}

@media (max-width: 360px) {
  .inner_comment-wrapper {
    margin-left: 25px;
  }
}

.comment-item_wrapper {
  line-height: 1;

  display: flex;
  flex-direction: column;
}
.comment-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  /* background-color: #cfbfba; */
}
.comment-avatar {
  margin: 0px 25px 0px 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("./../../img/avatar.jpg") center/cover no-repeat;
}

@media (max-width: 360px) {
  .comment-avatar {
    margin: 0px 10px 0px 10px;
  }
}

.comment-author--wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.comment-author {
  line-height: 1;
  color: var(--Dark-Blue);
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}
.comment-login {
  line-height: 1;
  font-size: 12px;
}
.comment-reply {
  cursor: pointer;
  padding-right: 20px;
  display: flex;
  align-items: center;
  line-height: 1;
  color: var(--Middle-Blue);
  font-weight: bold;
  font-size: 12px;
}
.comment-text {
  padding-left: 95px;
  padding-right: 20px;
  padding-bottom: 30px;
  line-height: 1.5;
  flex: 1 0 auto;
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 360px) {
  .comment-text {
    padding-left: 35px;
  }
}

/* --------INNER COMMENT ADD---------------------------------------------------------------------- */
.inner-comment-add_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.inner-comment-add-text {
  padding-left: 95px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.inner-comment-add_input {
  width: 100%;
  border: 1px solid #4661e6;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.inner-comment-add_input:focus {
  outline: 1px solid #4661e6;
}

.inner-comment-add-button {
  background-color: var(--Violette);
  border-radius: 10px;
  width: 130px;
  height: 40px;
  color: var(--White);
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
  cursor: pointer;
}

.inner-comment-add-button:hover {
  background-color: #9501d4;
}

.none {
  display: none;
}
