.votes-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: flex-start;
  width: 90px;
  background-color: var(--White);
  position: relative;
  flex-shrink: 0;
}

@media (max-width: 538px) {
  .votes-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-bottom: 20px;
  }
}

.votes {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 35px;
  height: 50px;
  background-color: var(--Light-Blue);
  color: var(--Title-Text);
  padding-bottom: 8px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}
/* --------Active---------------------------------------------------------------------- */
.votes-active {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 35px;
  height: 50px;
  padding-bottom: 8px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: var(--White);
  background-color: var(--Middle-Blue);
}

.votes-active:hover {
  color: var(--Title-Text);
  background-color: var(--Light-blue-hover);
}

.votes-active::after {
  border-bottom: 2px solid var(--White);
  border-left: 2px solid var(--White);
  content: "";
  position: absolute;
  top: 29px;
  width: 6px;
  height: 6px;
  transform: rotate(135deg);
}
.votes-active:hover .votes-active::after {
  border-bottom: 2px solid red;
  border-left: 2px solid red;
}
/* ------------------------------------------------------------------------------ */

@media (max-width: 538px) {
  .votes {
    margin-left: 20px;
    margin-top: 10px;
    width: 70px;
    height: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }
}

.votes:hover {
  background-color: var(--Light-blue-hover);
}

.votes::before {
  content: "";
  position: absolute;
  top: 29px;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid var(--Middle-Blue);
  border-left: 2px solid var(--Middle-Blue);
  transform: rotate(135deg);
}

@media (max-width: 538px) {
  .votes::before {
    top: 26px;
    left: 35px;
  }
}
